/* css file for the movie Nerd */
body {
    background-color:#2c2c2c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium; color:ghostwhite;
    border:solid 3px;
    border-color:ghostwhite;
  
}

    
}
main{
    color:ghostwhite;
}
h1 {
    color: #d84b2c;
    margin-left: 2%;
}
h3{
    color:#d84b2c;
    margin-left: 2%;
}

nav{
    width: 100%;
    height: 40px;
    background-color: #d84b2c;
    
}
nav ul li{
    color:ghostwhite;
    font-size: 30px;
    list-style-type: none;
    float:inline-start;
    
    a {
        text-decoration: none;
        color:ghostwhite;
    }

}
table
{
font-family:Georgia, 'Times New Roman', Times, serif;
background-color:#d84b2c;
color:ghostwhite;
border: solid 2px #ffffff;
font-size: 100%;
width: 25px;
height: 25px;
margin-left: 2%;
}

table.center
{
margin-left: auto;
margin-right: auto;
}

td
{
padding:20px;
border: solid 1px #ffffff;
}

td.center
{
text-align:center;
}
th.center{
    text-align: center;
}
footer{
    color:#d84b2c; 
    margin-left: 2%;
}